beautifulsoup4==4.12.3
certifi==2024.7.4
charset-normalizer==3.3.2
gogaku_dl==0.1.1
idna==3.7
pyee==11.1.0
python-ffmpeg==2.0.12
requests==2.32.3
setuptools==70.1.1
soupsieve==2.5
tqdm==4.66.4
typing_extensions==4.12.2
urllib3==2.2.2
wheel==0.43.0
